<div>
<body>
	<div class="main-Big main-mid main-small">
		<div class="container">
			<div class="main_heading">
				<h4 >
					<h2 style="border-bottom: 2px solid #DDDDDD; padding-bottom: 10px;">Authorised Signatory</h2>
				</h4>

					<form class="form-horizontal" role="form">


    <div class="form-group  ">
      <label class="control-label col-sm-4 " for="FirstName">First Name :</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="FirstName" >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="form-group  ">
                            <label class="control-label col-sm-4 " for="JOBTITLE">JOB TITLE :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="JOBTITLE" >
                            </div>
                            <div class="col-sm-4"></div>
                        </div>

     <div class="form-group  ">
      <label class="control-label col-sm-4 " for="TelephoneNumber">Work Telephone Number :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="TelephoneNumber" >
      </div>
      <div class="col-sm-4"></div>
    </div>
    
     <div class="form-group  ">
      <label class="control-label col-sm-4 " for="EmailAddress">Work Email Address :</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="EmailAddress" >
      </div>
      <div class="col-sm-4"></div>
    </div>

     <!--<div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="radio">
          <label><input type="radio" name="Select"> I am Not the Authorised Signatory and I Don't know who is Authorised Signatory </label>
        </div>
      </div>
    </div>-->
    
  <br>  
  
    <div class="form-group">
    <div class="col-sm-6 text-right">
					<button type="submit" class="btn btn-primary" style="width: 120px;">Save</button>
				</div>
      <div class=" col-sm-6">
        <button type="submit" class="btn btn-primary" style="width: 120px;">Next</button>
      </div>

    </div>
  </form>
			

		

		

				

		
			</div>

		</div>
	</div>
</body>

</div>
